.slide-up {
  animation: slide-up 300ms;
}

.slide-down {
  animation: slide-down 300ms;
}

.fade-in {
  animation: fade-in 300ms;
}

.fade-in-slide {
  animation: fade-in-slide 300ms;
}

@keyframes slide-up {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-slide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
